* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.esquerda {
    flex:1;
    background-color: royalblue;

    display: flex;
    align-items: center;
    justify-content: center;
}

.direita {
    flex: 1;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
}

#container input, button{
    padding: 10px;
}

button {
    background-color: rgb(9, 174, 119);
    color: white;
    border: none;
}

